@font-face{
    src: url("./CursedTimerUlil-Aznm.ttf");
    font-family: cursedTimer;
}

body {
    margin: 0;
    text-align: center;
    background-color: #3F334D;
}

.h3-title {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-weight: 700;
    font-size: 40px;
    line-height: 36px;
    color: #EAF0CE;
}

.btn {
    font-family: cursedTimer;
    background: none;
    border: #574B60 2px solid;
    border-radius: 5px;
    padding: 30px;
    color: #EAF0CE;

    margin-left: 5px;
}

.h4-number  {
    font-family: cursedTimer;
    font-weight: 400;
    font-size: 90px;
    line-height: 126.67px;
    color: #F94F6D;
    background-color: #574B60;
    border-radius: 5px;
    padding: 100px;
    width: 150px;
    

}

.container {
    margin-top: 200px;
    display: flex;
    justify-content: space-around;
}


